/* liScroll styles */

.tickercontainer 
{
	/* the outer div with the black border */
	width: 100%;
	height: 35px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #251f1f;
}
.tickercontainer .mask 
{
	/* that serves as a mask. so you get a sort of padding both left and right */
	position: relative;
	left: 15px;
	right: 15px;
	top: 0;
	width: 100%;
	overflow: hidden;
}
ul.newsticker 
{
	/* that's your list */
	position: relative;
	left: 0px;
	font-family: 'Roboto Condensed', sans-serif !important;
	font-size: 14px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	top: 8px;
	font-weight: 400;
}
ul.newsticker li 
{
	float: left;
	padding: 0;
	color: #f3f60f;
	margin-top: 0;
	margin-right: 15px;
	margin-bottom: 0;
	margin-left: 0;
	font-weight: normal;
	text-transform: uppercase;
}
ul.newsticker a 
{
	white-space: nowrap;
	padding: 0;
	color: #f8f8f8;
	font-family: 'Roboto Condensed', sans-serif !important;
	font-size: 12px;
	margin: 0;
	text-decoration: none;
	font-weight: 400;
} 
ul.newsticker a:hover
{
  text-decoration:underline;
}
ul.newsticker span 
{
  margin: 0;
} 
.stock_number_up
{ 
  font-size: 14px; 
  color: #45ff8e; 
}
.stock_number_down
{ 
  font-size: 14px; 
  color: #ff3333; 
}
.stock_number_standard
{ 
  font-size: 14px; 
  color: #f8f8f8; 
}

ul.newsticker *
{
}
.linkPriceMargin
{
  margin:1px 0px 0px 0px !important;
  vertical-align:top !important;
}
.linkPriceMargin span
{
  vertical-align:top !important;
  display:block;
}
.linkPriceMargin a
{
  vertical-align:top !important;
}
.divGap
{
  width:80px !important;
  margin:0px;
  padding:8px 0 0 0;
}
.strong {
	font-weight: 700;
}